<mat-sidenav-container autosize class="h-full w-full">
  <mat-sidenav #sidenav mode="side" class="flex flex-col">
    <mat-nav-list>
      <a *ngFor="let topic of topics"
         mat-list-item
         routerLink="{{ topic.id }}"
         routerLinkActive="bg-secondary"
      >{{ topic.title }}</a
      >
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="bg-secondary p-4">
    <button
        mat-icon-button
        style="position: fixed"
        class="bg-accent transform -translate-x-4 -translate-y-4 z-50"
        (click)="sidenav.toggle()">
        <mat-icon>sync_alt</mat-icon>
      </button>

    <div class="z-0">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
