<div class="h-screen flex flex-col">
  <!-- MAIN APPS NAVIGATOR -->
  <mat-toolbar class="flex flex-row justify-end gap-5">
    <a routerLink=".">Content Management</a>
    <a routerLink=".">Application</a>
  </mat-toolbar>

  <mat-sidenav-container class="flex flex-row flex-grow">

    <!-- EACH APP HAS ITS OWN LINKS AND NAVIGATION -->
    <mat-sidenav #snav mode="side">
      <mat-nav-list>
        <a mat-list-item routerLink=".">Link 1</a>
        <a mat-list-item routerLink=".">Link 2</a>
        <a mat-list-item routerLink=".">Link 3</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="h-screen flex flex-row">

      <!-- SIDENAV TOGGLE ICON   -->
      <div class="self-center flex-none h-10 w-10">
        <button mat-icon-button (click)="snav.toggle()" class="hover:bg-pink-500">
          <mat-icon>sync_alt</mat-icon>
        </button>
      </div>

      <!--  MAIN CONTENT    -->
      <div class="flex-grow">

        <p>Test 1 Lorem ipsum la blasd f</p>
        <p>Test 2 Lorem ipsum la blasd f</p>
        <p>Test 3 Lorem ipsum la blasd f</p>
        <p>Test 3 Lorem ipsum la blasd f</p>
        <p>Test 3 Lorem ipsum la blasd f</p>
        <p>Test 3 Lorem ipsum la blasd f</p>
        <p>Test 3 Lorem ipsum la blasd f</p>
        <p>Test 3 Lorem ipsum la blasd f</p>
        <p>Test 3 Lorem ipsum la blasd f</p>
        <p>Test 3 Lorem ipsum la blasd f</p>
        <p>Test 3 Lorem ipsum la blasd f</p>
        <p>Test 3 Lorem ipsum la blasd f</p>
        <p>Test 3 Lorem ipsum la blasd f</p>
        <p>Test 3 Lorem ipsum la blasd f</p>
        <p>Test 3 Lorem ipsum la blasd f</p>
        <p>Test 3 Lorem ipsum la blasd f</p>
        <p>Test 3 Lorem ipsum la blasd f</p>
        <p>Test 3 Lorem ipsum la blasd f</p>
        <p>Test 3 Lorem ipsum la blasd f</p>
        <p>Test 3 Lorem ipsum la blasd f</p>
        <p>Test 3 Lorem ipsum la blasd f</p>
        <p>Test 3 Lorem ipsum la blasd f</p>
        <p>Test 3 Lorem ipsum la blasd f</p>
        <p>Test 3 Lorem ipsum la blasd f</p>
        <p>Test 3 Lorem ipsum la blasd f</p>
        <p>Test 3 Lorem ipsum la blasd f</p>
        <p>Test 3 Lorem ipsum la blasd f</p>
        <p>Test 3 Lorem ipsum la blasd f</p>
        <p>Test 3 Lorem ipsum la blasd f</p>
        <p>Test 3 Lorem ipsum la blasd f</p>
        <p>Test 3 Lorem ipsum la blasd f</p>
        <p>Test 3 Lorem ipsum la blasd f</p>
        <p>Test 3 Lorem ipsum la blasd f</p>
      </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <footer class="bg-pink-500">Footer placeholder</footer>
</div>
