<!--TODO FIX: remove inline styles-->
<mat-icon *ngIf="status.slug === STATUSES.IN_PROGRESS"
          style="color: var(--color-info)"
          matTooltip="{{status.display}}"
>drive_file_rename_outline</mat-icon>
<mat-icon *ngIf="status.slug === STATUSES.VALIDATED"
          style="color: var(--color-success)"
          matTooltip="{{status.display}}"
>verified</mat-icon>
<mat-icon *ngIf="status.slug === STATUSES.IN_VALIDATION"
          matTooltip="{{status.display}}"
          style="color: var(--color-warning)"
>spellcheck</mat-icon>
